body {
  margin: 0 auto;
  /* background-color: #f1f0ef; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0600ff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0500c1;
}

a:visited {
  color: #0600ff;
}

header {
  text-align: center;
  padding: 0.25rem;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #b5b5b5;
  height: 2.8rem;
}

.logo {
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav>div {
  padding: 0 .5rem;
}

main {
  margin: auto;
  max-width: 640px;
  padding-top: 3.4rem;
}

h1, h2, h3 {
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
}

.anchor {
  display: block;
  position: relative;
  top: -4rem;
  visibility: hidden;
}

.fraggle {
  padding: 2rem 0 4rem;
}

.fraggle img {
  display: block;
  margin: auto;
  border-radius: 50%;
}
